/* BUTTONS */
.button {
    border: 0;
    border-radius: 15px;
}

.button_sm {
    padding: 2px 12px;
}

.button_md {
    padding: 3px 15px;
}

.button_lg {
    padding: 4px 20px;
}

.btn_blue{
    color: #FFFFFF;
    background-color: #527CEB;
}

.btn_red{
    color: #FFFFFF;
    background-color: #B6246E;
}

.btn_white{
    color: #000000;
}