@import '@/styles/Variables';

/* BUTTONS */
.button {
    border: 0;
    border-radius: 15px;
    flex-basis: content;
}

.button_sm {
    padding: 2px 12px;
}

.button_md {
    padding: 3px 15px;
}

.button_lg {
    padding: 4px 30px;
}

.btn_blue {
    color: #FFFFFF;
    background: $lightblue_to_left;

    &:hover {
        background: $red_to_right;
    }
}

.btn_white {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.button.red_right_bottom {
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0px 0px 15px 5px rgba(247, 97, 107, 0.4);
    } 
}


/* BACKGROUND */

.red_right {
    color: #FFFFFF;
    background: $red_to_right;
}

.button.red_right:hover {
    background: $lightblue_to_left;
}

.red_bottom {
    color: #FFFFFF;
    background: $red_to_bottom;
}

.red_right_bottom {
    color: #FFFFFF;
    background: $red_to_right_bottom;
}

.blue_bottom {
    background: $blue_to_bottom;
}

.blue_top_left {
    background: $blue_to_top_left;
}

.blue_right {
    background: $blue_to_right;
}

/* ICON */

.arrow_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
}

/* UTILITIES */

