/* COLORS */

/* RED */
$primary_red: #B6246E;

$secondary_red: #F9636B;

$red_to_right: linear-gradient(270deg, rgba(247,97,106,1) 0%, rgba(183,37,110,1) 100%);

$red_to_bottom: linear-gradient(180deg, rgba(184,39,110,1) 0%, rgba(242,94,108,1) 100%);

$red_to_right_bottom: linear-gradient(135deg, rgba(184,39,110,1) 0%, rgba(214,68,109,1) 40%, rgba(242,94,108,1) 100%);

/* LIGHTBLUE */
$lightblue_to_left: linear-gradient(270deg, rgba(30,60,128,1) 0%, rgba(4,163,207,1) 100%);

/* BLUE */
$blue_to_right: linear-gradient(90deg, rgba(11,24,82,1) 0%, rgba(6,12,64,1) 65%, rgba(1,1,47,1) 100%);

$blue_to_bottom: linear-gradient(180deg, rgba(11,24,82,1) 0%, rgba(6,12,64,1) 70%, rgba(1,1,47,1) 100%);

$blue_to_top_left: linear-gradient(315deg, rgba(11,24,82,1) 0%, rgba(6,12,64,1) 25%, rgba(1,1,47,1) 100%);